<ion-content>
    <ion-row class="ion-justify-content-center">
        <ion-col size-xs="12" size-sm="10" size-md="6" size-xl="4" size-lg="4">

            <form *ngIf="formService.form" [formGroup]="formService.form" (ngSubmit)="submitLogin()"
                  (keydown.enter)="submitLogin()">
                <ion-item>
                    <ion-label class="label-for-required-input" color="medium"
                               position="floating">Email</ion-label>
                    <ion-input type="text" name="email" [formControlName]="formFields.email"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label class="label-for-required-input" color="medium"
                               position="floating">Пароль</ion-label>
                    <ion-input type="password" name="password" [formControlName]="formFields.password"></ion-input>
                </ion-item>
                <ion-button
                        expand="block"
                        fill="solid"
                        color="success"
                        class="ion-margin-top"
                        type="submit"
                >
                    Войти
                </ion-button>
            </form>
        </ion-col>
    </ion-row>
</ion-content>